.about{
    display: flex;
}
.about img{
    width: 600px;
    height: 400px;
}
.about-img{
    margin-right: 25px;
}
.card-img{
    width: 100%;
    margin: 0 auto;
}
.teacher-social-link{
    color: rgb(0, 145, 202);
    cursor: pointer;
}