
ul li{
    list-style: none;
}
ul li:hover{
    color: rgb(0, 145, 202);
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}
.footer-content{
    color: rgb(0, 145, 202);
}
.footer-container{
    background-color: rgb(15, 15, 15);
    margin-top: 55px;
    color: white;
    padding: 33px 0;
}
.footer-social i:hover{
    color: rgb(0, 145, 202);
    cursor: pointer;
}